<% if @model == "user" %>
	<h1>Users search for <%= @content %></h1>
	<table class="table">
	    <tr>
	      <th>image</th>
	      <th>name</th>
	      <th></th>
	    </tr>
	    	<% @datas.each do |data| %>
	    <tr>
	      <td>
	        <%= attachment_image_tag data, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size:'40x40' %>
	      </td>
	      <td>
	        <%= data.name %>
	      </td>
	      <td>
	        <%= link_to'show', user_path(data) %>
	      </td>
	    </tr>
	       <% end %>
	</table>
<% else @model == "book" %>
	<h1>Books search for '<%= @content %>' </h1>
	<table class="table">
	    <tr>
	      <th>title</th>
	      <th>name</th>
	      <th></th>
	    </tr>
	     	<% @datas.each do |data| %>
	    <tr>
	      <td>
	      	<%= data.title %>
	      </td>
	      <td>
	      	<%= data.user.name %>
	      </td>
	      <td>
	      <%= link_to'show', user_path(data) %>
	      </td>
	    </tr>
	        <% end %>
	</table>
<% end %>