 <div class="notice1">
     <%= flash[:notice] %>
 </div>
<div class="container">
    <div class="row">
        <div class="col-xs-3" >
            <%= render 'books/bookers', book: @book ,user: @user%>
        </div>
             <div class="col-xs-9">
                <section class="books">
                  <h1>Books</h1>
                    <table class="table">
                         <thead>
                            <tr>
                              <th></th>
                              <th>Title</th>
                              <th>Opinio</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <% @books.each do |book| %>
                              <td>
                                <%= attachment_image_tag @user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg",size:'40x40' %>
                              </td>
                              <td>
                                 <%= link_to book.title,book_path(book) %>
                              </td>
                              <td>
                                <%= book.body %>
                              </td>
                              <td>
                                コメント数:<%= book.book_comments.count %>
                              </td>
                            </tr>
                            <% end %>
                          </tbody>
                    </table>
                </section>
             </div>
    </div>
</div>
 