<div class="profile">
    <h1>User info</h1>
    <div class="row">
      <div>
      <%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %>
    </div>
      <table class="table">
        <tr>
          <th>name</th>
          <td>
            <%= user.name %>
          </td>
        </tr>
        <tr>
          <th>introduction</th>
          <td>
            <%= user.introduction %>
          </td>
        </tr>
        <tr>
          <th>follower</th>
          <td>
            <%= link_to user.followers.count, followers_user_path(user) %>
          </td>
        </tr>
        <tr>
          <th>following</th>
          <td>
            <%= link_to user.followings.count, followings_user_path(user) %>
          </td>
        </tr>
      </table>
        <% if current_user != user %>
            <% if user.followed_by?(current_user)%>
              <%= link_to"フォロー済",user_relationships_path(user),method: :delete, class: "btn btn-default col-xs-9" %>
            <% else %>
              <%= link_to"フォロー", user_relationships_path(user),method: :post, class: "btn btn-default col-xs-9" %>
            <% end %>
        <% else %>
          <%= link_to "", edit_user_path(user), class: "glyphicon glyphicon-wrench btn btn-default col-xs-9"%>
        <% end %>
       </div>
             <div class="new">
                <h3>New book</h3>
                <% if book.errors.any? %>
                   <p>errors</p>
                  <div class="alert-warning">
                    <ul>
                      <% book.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
                  <%= form_for(book) do |f| %>
                    <h4>Title</h4>
                      <%= f.text_field :title %>
                    <h4>Opinio</h4>
                      <%= f.text_area :body %>
                     <br>
                      <%= f.submit 'Create Book' %>
                  <% end %>
            </div>
    </div>


