  <div class="container">
      <div class="row">
        <div class="edit_title">
          <h1 class="title">Editing Book</h1>
             <% if @book.errors.any? %>
                   <p>errors</p>
                  <div class="alert-warning">
                    <ul>
                      <% @book.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
            <%= form_for(@book) do |f| %>

            <p class="box"><strong>Title<strong></p>
            <%= f.text_field :title, :size=>"90x1" %>

             <p class="box"><strong>Opinion<strong></p>
             <%= f.text_area :body ,:size=>"90x3"%>
             <br>
             <%= f.submit 'Update Book',class:"btn btn-primary  btn-block" %>

             <% end %>
          <div class="show">
              <%= link_to "Show",book_path(@book) %>|<%= link_to "Back", books_path %>
          </div>
        </div>
      </div>
  </div>


