<!DOCTYPE html>
<html>
  <head>
   <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <link href='https://fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>
   <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>


  </head>

  <body>
    <nav class="navbar navbar-inverse">
            <h3 class="navbar-brand">Bookers</h3>
            <div class="nav">
                <ul class="nav navbar-nav navbar-right">
                      <% if user_signed_in? %>
                         <li class="">
                          <%= link_to 'Home', user_path(current_user.id), class:"glyphicon glyphicon-home"%>
                        </li>
                        <li class="">
                          <%= link_to 'Users', users_path, class:"glyphicon glyphicon-user" %>
                        </li>
                         <li class="">
                          <%= link_to 'Books', books_path, class:"glyphicon glyphicon-book"  %>
                        </li>
                        <li class="">
                          <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"glyphicon glyphicon-log-out" %>
                        </li>
                      <% else %>
                        <li class="">
                          <%= link_to "Home", root_path, class:"glyphicon glyphicon-home" %>
                        </li>
                        <li class="">
                          <%= link_to "About",home_about_path, class:"glyphicon glyphicon-link"%>
                        </li>
                         <li class="">
                          <%= link_to "sign up", new_user_registration_path, class:"glyphicon glyphicon-edit" %>
                        </li>
                        <li class="">
                          <%= link_to "login", new_user_session_path, class:"glyphicon glyphicon-log-in" %>
                        </li>
                        <% end %>
                   </ul>
                 </div>
              </div>
    </nav>
    <div class="main">
        <% if user_signed_in? %>
            <div class="form-inline">
              <%= form_with(url: search_path, method: :get, local: true) do |f| %>
                <div class="form-group">
                  <%= f.text_field 'content' %>
                </div>
                <div class="form-group">
                  <%= f.select 'model',options_for_select({user: 'user',book: 'book'}, 'user') %>
                </div>
                <div class="form-group">
                  <%= f.select 'how',options_for_select({完全一致: 'match', 前方一致: 'forward', 後方一致: 'backward', 部分一致: 'partical'}, 'match') %>
                </div>
                  <%= f.submit '検索', class: "btn btn-primary" %>
              <% end %>
            </div>
          <% end %>
      <%= yield %>
     </div>
      <footer class="text-right">CopyRight Infratop.inc></footer>
    </body>
</html>

